.Outer {
  text-align: center;
  margin: 10px;
  font-family: "Nunito", sans-serif;
}

.Inner {
  background-color: #fffbcf;
  width: 50%;
  border: 1px solid black;
  display: inline-block;
  text-align: left;
  padding: 10px;
}
.Title {
  text-align: center;
  margin: 10px;
  font-weight: bold;
}

.paragraphs {
  padding: 5px;
  margin-bottom: 5px;
  text-align: left;
}

.Date {
  font-weight: bold;
}

@media (max-width: 500px) {
  .Inner {
    width: 100%;
    padding: 4px;
  }
}
