.container {
  position: relative;
  margin: 0 auto;
  /* display: inline-block; */
}
.container img {
  width: 50%;
}

.container .text {
  position: absolute;
  /* z-index: 999; */
  margin: 0 auto;
  left: 0;
  right: 0;
  color: white;
  font-weight: bold;
  background-color: black;
  top: 80%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 50%; /* Set the width of the positioned div */
  opacity: 0.7;
}

.AboutInfo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
.AboutText {
  text-align: left;
  padding: 10px;
  margin-right: 10px;
}

.AboutInfo img {
  width: 40%;
}
h3 {
  text-align: center;
}
