.Container {
  position: relative;
  margin: 0 auto;

  /* display: inline-block; */
}
/* .carousel img {
  width: 100% !important;
  min-width: 100 !important;
  height: auto; */

.Image {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}
/* .Container img {
  width: 20px;
} */

.text {
  font-family: "Nunito", sans-serif;

  position: absolute;
  /* z-index: 999; */
  margin: 0 auto;
  left: 0;
  right: 0;
  color: white;
  font-weight: bold;
  background-color: black;
  top: 10%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 50%; /* Set the width of the positioned div */
  opacity: 0.7;
}

.AboutInfo {
  display: flex;
  flex-direction: row;
  /* justify-items: auto; */
  width: 100%;
  margin: 0;

  /* max-height: 500px; */
  margin-top: 20px;
  font-family: "Nunito", sans-serif;
  padding: 10px;
  flex-wrap: nowrap;

  /* padding: 10px; */
}
.AboutText {
  text-align: left;
  padding: 10px;
  margin-right: 10px;
}

.AboutInfo img {
  width: 50%;
}
h2 {
  text-align: center;
}

.InsideMain {
  width: 100%;
  margin-top: 15px;
  /* margin-bottom: 15px; */
  padding: 10px;
  margin: 0 auto;
}
/* #logo {
  height: 40%;
  width: 5%;
} */

@media (max-width: 500px) {
  .AboutInfo {
    flex-direction: column;
  }
  .InsideMain {
    height: auto;
    width: 100%;
  }
  .Image {
    width: auto;
    height: 300px;
  }

  .AboutInfo img {
    width: 100%;
  }
  .AboutText {
    text-align: center;
    margin-bottom: 10px;
  }

  .text {
    width: 100%;

    font-size: 1rem;
    text-overflow: clip;
    position: absolute;
  }
}
