/* #logo {
  height: 400%;
  width: 400%;
} */

.Container {
  position: relative;
  margin: 0 auto;

  /* display: inline-block; */
}

.Container img {
  width: 100%;
  margin: 0;
  height: 100%;
}

.Container .text {
  font-family: "Nunito", sans-serif;

  position: absolute;
  /* z-index: 999; */
  margin: 0 auto;
  left: 0;
  right: 0;
  color: white;
  font-weight: bold;
  background-color: black;
  top: 90%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 50%; /* Set the width of the positioned div */
  opacity: 0.7;
}

.AboutInfo {
  display: flex;
  flex-direction: row;
  /* justify-items: auto; */
  width: 100%;
  margin: 0;

  /* max-height: 500px; */
  margin-top: 20px;
  font-family: "Nunito", sans-serif;
  padding: 10px;
  flex-wrap: nowrap;

  /* padding: 10px; */
}
.AboutText {
  text-align: left;
  padding: 10px;
  margin-right: 10px;
}

.AboutInfo img {
  width: 50%;
}
h3 {
  text-align: center;
}

@media (max-width: 500px) {
  .AboutInfo {
    flex-direction: column;
  }
  .Container img {
    width: 100%;
  }

  .AboutInfo img {
    width: 100%;
  }
  .AboutText {
    text-align: center;
    margin-bottom: 10px;
  }

  .Container .text {
    width: 100%;
    top: 100%;
  }
}
