.Footer {
  display: flex;
  padding: 10px;
  margin-top: 10px;
  text-align: left;
  margin: 10px;
  background-color: #262626;
  color: #ccc;
}

p {
  margin: 0;
}
.Location {
  margin: 0 20px;
}

.Info {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.Hours {
  margin-bottom: 15px;
}

h4 {
  color: #fff;
}

.PhoneNumber {
  text-decoration: none;
  color: #f47621 !important;
}
/* can chagne the color */
.PhoneNumber:hover {
  color: red !important;
}
@media (max-width: 500px) {
  .Footer {
    flex-wrap: wrap;
  }

  .Info {
    margin-bottom: 5px;
  }
  .Hours {
    margin-bottom: 5px;
  }
  .PhoneNumber {
    margin-bottom: 5px;
  }
}
