.Footer {
  display: flex;
  padding: 10px;
  text-align: left;
  margin: 0px;
  margin-top: 10px;
  background-color: #262626;
  color: #ccc;
}

p {
  margin: 0;
}

/* a {
  margin: 0;
}

a:hover {
  color: #f47621 !important;
  text-decoration: none !important;
} */
/* .Location {
  /* margin: 0 20px; */

.Address {
  color: #ccc;
  text-decoration: none !important;
}

.Address:hover {
  color: #f47621 !important;
  text-decoration: none !important;
}

.Info {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.Hours {
  margin-bottom: 15px;
}

h4 {
  color: #fff;
}

.PhoneNumber {
  text-decoration: none;
  color: #f47621 !important;
  display: flex;
  flex: wrap;
}
/* can chagne the color */
.PhoneNumber:hover {
  color: red !important;
}
@media (max-width: 500px) {
  .Footer {
    flex-wrap: wrap;
  }
  .LocationBlock {
    margin-bottom: 10px;
  }
  .Info {
    margin-bottom: 10px;
    margin: 0;
  }
  .Hours {
    margin-bottom: 10px;
    text-align: left;
  }
  .PhoneNumber {
    margin-bottom: 10px;
    text-align: left;
  }
}
