.Outer {
  text-align: center;
  margin: 10px;
  font-family: "Nunito", sans-serif;
}

.Inner {
  background-color: #fffbcf;
  width: 50%;
  border: 1px solid black;
  display: inline-block;
  text-align: left;
  padding: 10px;
}

.Inner p {
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .Inner {
    width: 100%;
    padding: 4px;
  }
}
